mixin banner(data, app, gray)
  -
    var titul = data.titul || '';
    var desc = data.desc || '';
    var img = data.img || '';
    var app = data.app || false;
    var href = data.href || false;
    var btnText = data.btnText || '';
    var classHref = data.classHref || '';
    var gray = gray || false;
  //- div(class=`container`)
  .banner&attributes(attributes)
    .banner__left-side
      .banner__titul!=titul
      .banner__desc!=desc
      if app
        .banner__buttons
          a(href="#" target="_blank").banner__button.banner__button_google
          a(href="#" target="_blank").banner__button.banner__button_apple
      if href
        a(href="#" target="_blank").banner__button.banner__btn!= btnText
    div(class=`banner__right-side ${classHref}`)
      img(src=img alt=titul)