mixin page-catalog()
	section.catalog
		.container
			+header-title(data.catalogPageTitle)
			.catalog__banner-container.catalog__banner-slider-js
				.catalog__banner-list.swiper-wrapper 
					img(src='img/content/banner1.jpg').catalog__banner-img.catalog__banner-item.swiper-slide
					img(src='img/content/banner2.jpg').catalog__banner-img.catalog__banner-item.swiper-slide
				.catalog__banner-btn.catalog__banner-btn-left.catalog__banner-btn-left-js
				.catalog__banner-btn.catalog__banner-btn-right.catalog__banner-btn-right-js
				.slider__dots
			.catalog__container 
				.catalog__filter 
					.catalog__filter-info Фильтры
					.catalog__filter-panel 
						p.catalog__filter-price Цена, ₽
						input(type="text" class="js-range-slider" name="my_range" value=""
								data-type="double"
								data-min="4000"
								data-max="8500"
								data-from="4000"
								data-to="8500")
						.catalog__filter-checkbox-container.catalog__filter-checkbox-container-js
							p.catalog__filter-price Производитель
							label.catalog__filter-checkbox
								input(type='checkbox' value='1').catalog__filter-checkbox-input-js
								span D-link
							label.catalog__filter-checkbox
								input(type='checkbox' value='2').catalog__filter-checkbox-input-js
								span Tenda
						button.catalog__filter-clear-btn.catalog__filter-clear-btn-js Очистить фильтры
				.catalog__content
					.catalog__content-top 
						.catalog__filter-info Показано 8 товаров
						+select()
					.catalog__lists 
						each card in data.detailsRecommended
							+card(card, 'equipment')

