mixin banner-slider(items)
  .slider&attributes(attributes)
      ul.swiper-wrapper
        each data in items
          -
            var title = data.title || '';
            var desc = data.desc || '';
            var button = data.button || '';
            var href = data.href || '#';
            var img = data.img || 'img/content/1x1.png';
          li.swiper-slide
            .container.slider__container
              .slider__left-container
                h2!=title
                p!=desc 
                a(href=href)!=button
              .slider__right-container
                img(src=img alt=title).modal__select-avatar.select-girl-img-js
      .slider__dots
          


    


