mixin popular-tarif(cards, menu, sliderClass, titul, sliderTabClass, tarif)
  section.popular-tarif&attributes(attributes)
    .container
      h2.popular-tarif__title!=titul
      .popular-tarif__tabs.popular-tarif__tabs-js
        ul(class=`swiper-wrapper ${sliderTabClass}`)
          each item, idx in menu
            li(class=`${idx === 0 ? 'popular-tarif__tab_active' : ''}`).swiper-slide!=item
    .container.popular-tarif__container.overlay-js
      div(class=`popular-tarif__content ${sliderClass}__content-js`)
        .popular-tarif__wrapper.swiper-wrapper
          each card in cards
            +card(card, tarif).swiper-slide
      div(class=`popular-tarif__button-arrow popular-tarif__button-left ${sliderClass}__button-left-js`)
      div(class=`popular-tarif__button-arrow popular-tarif__button-right ${sliderClass}__button-right-js`)