mixin card(card, tarif)
	-
		var title = card.title || '';
		var desc = card.desc || '';
		var price = card.price || '';
		var button = card.button || '';
		var hit = card.hit || false;
		var href = card.href || '#';
		var type = card.type || '';
		var pack = card.pack || '';
		var tarif = tarif || true;
		var img = card.img || '';
		var id = card.id || '';
		var recommended = card.recommended || '';
		var range = card.range || '';
		var speed = card.speed || '';
		var count = card.count || '';
	div(class=`card ${type === 'internet' ? 'card_height' : ''} ${hit ? 'card__hit' : ''} ${(tarif === 'equipment') ? 'card__equipment' : ''}`)&attributes(attributes)
		if (tarif === 'tarif')
			.card__hit-container Хит продаж
			.card__img-container
				if (type === 'internet')
					svg(class='card__img')
						use(xlink:href="img/symbols.svg#icon_internet")
				if (type === 'tv')
					svg(class='card__img')
						use(xlink:href="img/symbols.svg#icon_tv")
				if (type === 'phone')
					svg(class='card__img card__img_phone')
						use(xlink:href="img/symbols.svg#icon_tel")
				if (type === 'video')	
					svg(class='card__img')
						use(xlink:href="img/symbols.svg#icon_cctv2")
			.card__title!=title
			div(class=`card__desc ${type === 'tv' ? 'card__desc_tv' : ''} ${type === 'phone' ? 'card__desc_phone' : ''} ${type === 'video' ? 'card__desc_video' : ''}`)!=desc
		if (tarif === 'equipment')
			img(src=img alt=title).card__equipment-img
			p.card__equipment-type!=type
			p.card__equipment-title!=title
		if (tarif === 'ajax')
			img(src=img alt=title style='height: auto; width: 100%; object-fit: cover; margin-bottom: 17px; margin:0 auto;').card__equipment-img
			p(style="margin-top: 0;").card__equipment-type!=type
			p.card__equipment-title!=title
			.card__equipment-color-container 
				.card__equipment-color.card__equipment-color_black
				.card__equipment-color.card__equipment-color_white
		if (pack)
			.card__pack!=pack
		if (recommended)
			p.card__recommeded-title Подходящие тарифы:
			ul.card__recommeded-list 
				each tarif in recommended
					li.card__recommeded-item!=tarif
			.card__detail Частотный диапазон 
				span!=range
			.card__detail Скорость Wi-Fi
				span!=speed
			.card__detail Кол-во устройств
				span!=count
		.card__price!=price
		a(href=href data-id=id).card__button!=button
